In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt, matplotlib.font_manager as fm
from datetime import datetime
import seaborn
%matplotlib inline

In [2]:
fitbit_hrv = pd.read_csv('../data/fitbit_hrv.csv', encoding='utf-8')
fitbit_hrv.drop(['Unnamed: 0'], axis=1, inplace=True)
fitbit_hrv

                        date   rmssd  coverage        hf        lf
0    2023-10-22T22:55:00.000  59.540     0.914   360.549   898.507
1    2023-10-22T23:00:00.000  72.368     0.924   686.496  1952.215
2    2023-10-22T23:05:00.000  79.239     0.974   701.555  1471.977
3    2023-10-22T23:10:00.000  81.757     0.970  1064.499  3167.400
4    2023-10-22T23:15:00.000  72.298     0.943   497.862  1224.284
..                       ...     ...       ...       ...       ...
588  2023-10-30T06:35:00.000  60.252     0.907   477.462  2153.680
589  2023-10-30T06:40:00.000  75.235     0.884   656.812  2763.095
590  2023-10-30T06:45:00.000  60.040     1.006   412.517  2348.758
591  2023-10-30T06:50:00.000  71.302     1.005   694.038  1583.989
592  2023-10-30T06:55:00.000  53.388     1.003   371.180  1507.844

[593 rows x 5 columns]