In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt, matplotlib.font_manager as fm
from datetime import datetime
import seaborn
%matplotlib inline

In [2]:
fitbit_spo2 = pd.read_csv('../data/fitbit_spo2.csv', encoding='utf-8')
fitbit_spo2.drop(['Unnamed: 0'], axis=1, inplace=True)
fitbit_spo2

                     date  value
0     2023-10-22T23:07:40   96.2
1     2023-10-22T23:08:40   96.4
2     2023-10-22T23:09:40   96.5
3     2023-10-22T23:10:40   96.5
4     2023-10-22T23:11:40   96.6
...                   ...    ...
3881  2023-11-01T05:56:39   97.7
3882  2023-11-01T05:57:39   97.7
3883  2023-11-01T05:58:39   97.5
3884  2023-11-01T06:13:39   95.7
3885  2023-11-01T06:14:39   96.8

[3886 rows x 2 columns]

In [7]:
fitbit_spo2.iloc[400:450]

                    date  value
400  2023-10-23T06:32:40   97.3
401  2023-10-23T06:33:40   97.3
402  2023-10-23T06:34:40   97.1
403  2023-10-23T06:35:40   97.1
404  2023-10-23T06:36:40   97.1
405  2023-10-23T06:37:40   97.2
406  2023-10-23T06:38:40   97.0
407  2023-10-23T22:03:10   93.0
408  2023-10-23T22:04:10   93.2
409  2023-10-23T22:05:10   93.9
410  2023-10-23T22:06:10   94.0
411  2023-10-23T22:07:10   94.2
412  2023-10-23T22:08:10   94.6
413  2023-10-23T22:09:10   94.9
414  2023-10-23T22:10:10   95.0
415  2023-10-23T22:11:10   95.1
416  2023-10-23T22:13:10   94.4
417  2023-10-23T22:14:10   93.7
418  2023-10-23T22:15:10   93.7
419  2023-10-23T22:16:10   93.1
420  2023-10-23T22:17:10   93.3
421  2023-10-23T22:18:10   93.5
422  2023-10-23T22:19:10   93.7
423  2023-10-23T22:20:10   93.5
424  2023-10-23T22:21:10   93.0
425  2023-10-23T22:22:10   93.3
426  2023-10-23T22:23:10   93.4
427  2023-10-23T22:24:10   93.2
428  2023-10-23T22:25:10   93.6
429  2023-10-23T22:26:10   93.9
430  2023-10-23T22:27:10   94.1
431  2023-10-23T22:28:10   94.2
432  2023-10-23T22:30:10   95.6
433  2023-10-23T22:31:10   96.7
434  2023-10-23T22:32:10   97.4
435  2023-10-23T22:33:10   98.0
436  2023-10-23T22:34:10   98.3
437  2023-10-23T22:35:10   98.5
438  2023-10-23T22:36:10   98.5
439  2023-10-23T22:37:10   98.6
440  2023-10-23T22:39:10   98.2
441  2023-10-23T22:40:10   97.4
442  2023-10-23T22:41:10   96.9
443  2023-10-23T22:42:10   96.5
444  2023-10-23T22:43:10   96.0
445  2023-10-23T22:44:10   95.8
446  2023-10-23T22:45:10   95.8
447  2023-10-23T22:47:10   96.1
448  2023-10-23T22:48:10   97.0
449  2023-10-23T22:49:10   97.5