In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt, matplotlib.font_manager as fm
from datetime import datetime
import seaborn
%matplotlib inline

In [2]:
fitbit_azm = pd.read_csv('../data/fitbit_azm.csv', encoding='utf-8')
fitbit_azm.drop(['Unnamed: 0'], axis=1, inplace=True)
fitbit_azm

,date,fatBurnActiveZoneMinutes,cardioActiveZoneMinutes,activeZoneMinutes
0,2023-10-23,15,2.0,17
1,2023-10-24,2,NaN,2
2,2023-10-26,3,NaN,3
3,2023-10-27,8,NaN,8
4,2023-10-28,168,34.0,202
5,2023-10-29,42,2.0,44

In [8]:
# change values to multiple columns
fitbit_azm[fitbit_azm['date'] == "2023-10-23"]['value'].values

array(["{'fatBurnActiveZoneMinutes': 15, 'cardioActiveZoneMinutes': 2, 'activeZoneMinutes': 17}"],
      dtype=object)

In [9]:
print(fitbit_azm[fitbit_azm['date'] == "2023-10-23"]['value'].values)
print(fitbit_azm[fitbit_azm['date'] == "2023-10-24"]['value'].values)
print(fitbit_azm[fitbit_azm['date'] == "2023-10-26"]['value'].values)
print(fitbit_azm[fitbit_azm['date'] == "2023-10-27"]['value'].values)
print(fitbit_azm[fitbit_azm['date'] == "2023-10-28"]['value'].values)
print(fitbit_azm[fitbit_azm['date'] == "2023-10-29"]['value'].values)

["{'fatBurnActiveZoneMinutes': 15, 'cardioActiveZoneMinutes': 2, 'activeZoneMinutes': 17}"]
["{'fatBurnActiveZoneMinutes': 2, 'activeZoneMinutes': 2}"]
["{'fatBurnActiveZoneMinutes': 3, 'activeZoneMinutes': 3}"]
["{'fatBurnActiveZoneMinutes': 8, 'activeZoneMinutes': 8}"]
["{'fatBurnActiveZoneMinutes': 168, 'cardioActiveZoneMinutes': 34, 'activeZoneMinutes': 202}"]
["{'fatBurnActiveZoneMinutes': 42, 'cardioActiveZoneMinutes': 2, 'activeZoneMinutes': 44}"]