In [20]:
from datetime import date, datetime as dt, timedelta as td
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [26]:
overview = pd.read_csv("../data/rescuetime_overview.csv")
# if exists remove old index columns
overview.drop(['Unnamed: 0'], axis=1, inplace=True)
# relabel date to timestamp
computer_overview = overview[overview['device'] == "computers"]
mobile_overview = overview[overview['device'] == "mobile"]

In [27]:
computer_overview = overview[overview['device'] == "computers"]
mobile_overview = overview[overview['device'] == "mobile"]

In [28]:
len(computer_overview)

1446

In [29]:
len(mobile_overview)

656

In [30]:
computer_overview

                     date  time              category     device
0     2023-10-11 07:00:00   667  Software Development  computers
10    2023-10-11 07:00:00     3              Business  computers
11    2023-10-11 07:00:00     3         Entertainment  computers
12    2023-10-11 07:00:00    75     Social Networking  computers
13    2023-10-11 07:00:00   104             Utilities  computers
...                   ...   ...                   ...        ...
2095  2023-10-26 07:00:00   771  Software Development  computers
2096  2023-10-26 07:00:00   360              Business  computers
2097  2023-10-26 07:00:00   224              Shopping  computers
2098  2023-10-26 07:00:00   158             Utilities  computers
2099  2023-10-26 07:00:00    65  Reference & Learning  computers

[1446 rows x 4 columns]